@import "tailwindcss";

@layer base {
  :root {
    --navbar-height: 35px; /* Match your navbar height */
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.storeimg {
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  height: 100vh;
  display: block;
  aspect-ratio: 16/9;
}
